
<!--Didn't include loading message from lecture-->
<div>
	<div class="headerContent">
		<div id="large-header" class="large-header">
			<header>
				<h1 class="main-title">NewBay</h1>
			</header>
		</div>
	</div>

	<div class="Sellers">
		<div class="content ">
			<div class="container">
				<span class="headerSpan">
					<header>
						<h1 translate="sellers.Sellers" class="sellerTitleHeader"></h1>
					</header>
					<button class="fancyButton addSellerBtn glyphicon glyphicon-plus-sign" ng-click="onAddSeller()">
						<span translate="sellers.Add"/>
					</button>
				</span>
				<table class="table table-condensed fontStyles">
					<thead class="tableHeadStyle">
						<tr>
							<th>
								<a class="noHighlight" ng-click="sortBy = 'name'; ASCENDING = !ASCENDING">
									<span ng-show="sortBy == 'name' && !ASCENDING" class="glyphicon glyphicon-triangle-bottom"></span>
									<span ng-show="sortBy == 'name' && ASCENDING"  class="glyphicon glyphicon-triangle-top"></span>
									<span  translate="sellers.Name"/>
								</a>
							</th>
							<th>
								<a class="noHighlight" ng-click="sortBy = 'category'; ASCENDING = !ASCENDING">
									<span ng-show="sortBy == 'category' && !ASCENDING" class="glyphicon glyphicon-triangle-bottom" ></span>
									<span ng-show="sortBy == 'category' && ASCENDING"  class="glyphicon glyphicon-triangle-top"></span>
									<span translate="sellers.Category"/>
								</a>

							</th>
							<th>
								<!-- <span  translate="sellers.Photo"/> -->
							</th>
							<th>
								<!-- <span  translate="sellers.Edit"/> -->
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="s in sellers | orderBy:sortBy:ASCENDING" class="sellerRow">
							<td class="rowName">
								<a ng-href="#/seller/{{s.id}}">{{s.name}}</a>
							</td>
							<td>
								<span class="categoryStyle">{{s.category}}</span>
							</td>
							<td >
								<img class="thumbnail" src="{{s.imagePath}}">
							</td>
							<td >
								<button class="fancyButton glyphicon glyphicon-cog" type="button" ng-click=" onChange(s.id)">
									<span translate="sellers.Edit">
									</span>
								</button>
							</td>
						</tr>
					</tbody>
					<tr></tr>
				</table>
			</div>
		</div>
	</div>
</div>
