<!--Didn't include loading message from lecture-->
<div>
	<header>
		<h1 translate="sellers.Sellers"></h1>	
	</header>

	<div class="Sellers">
		<button class="btn btn-primary addSellerBtn" ng-click="onAddSeller()">
			<i class="fa fa-plus"/>
			<span translate="sellers.Add"/>
		</button>

		<table style="width: 50%" class="table table-hover">
			<thead>
				<tr>
					<th>
						<!--Span used, to be able to put inputs in th-->
						<span  translate="sellers.Name"/>
					</th>
					<th>
						<span  translate="sellers.Category"/>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="s in sellers">
					<td> <a ng-href="#/seller/{{s.id}}">{{s.name}}</a> </td>
					<td>{{s.category}}</td>
				</tr>
			</tbody>
			<tr></tr>
		</table>
	</div>
</div>
