.Sellers {
	.addSellerBtn {
		margin-left: 50%;
		width:85px;
	}
	.thumbnail {
		height:100px;
		width: auto;
	    -webkit-transition: all 500ms 0ms ease-in-out;
    	transition: all 500ms 0ms ease-in-out;
    	margin:1px;
    	padding:1px;
	    &:hover {
		    -webkit-transition: all 500ms 0ms ease-in-out;
    		transition: all 500ms 0ms ease-in-out;
    	    -webkit-transform: scale(3);
    	    transform: scale(3);
		}
	}
}