.Sellers {
	.addSellerBtn {
		margin-left: 90%;
		width:85px;
	}
	.thumbnail {
		height:100px;
		width: auto;
		-webkit-transition: all 500ms 0ms ease-in-out;
		transition: all 500ms 0ms ease-in-out;
		margin:1px;
		padding:1px;
		&:hover {
			-webkit-transition: all 500ms 0ms ease-in-out;
			transition: all 500ms 0ms ease-in-out;
			-webkit-transform: scale(3);
			transform: scale(3);
		}
	}
	.content{
		background-color: #ddd;
	}
	.container{
		background-color: #eee;
	}
	
}

.headerContent{
	.large-header {
		position: relative;
		width: 100%;
		min-height: 1080px;
		background: #333;
		overflow: hidden;
		z-index: 1;
		background: url('/img/egBanner.jpg') no-repeat center center fixed;

		  background-size: cover;
	}
	.main-title {
		font-family: 'Clicker Script', cursive;
		font-weight: normal;
		font-size: 8em;
		padding-left: 10px;
		text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
		position: absolute;
		margin: 0;
		padding: 0;
		color: #f9f1e9;
		text-align: center;
		top: 50%;
		left: 50%;
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);
		&:before {
			content: '';
			width: 20vw;
			height: 20vw;
			min-width: 3.5em;
			min-height: 3.5em;
			background: url(/img/deco.svg) no-repeat center center;
			background-size: cover;
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			z-index: -1;
			-webkit-transform: translate3d(-50%,-50%,0);
			transform: translate3d(-50%,-50%,0);
		}
	}
}