
<div class="DLGBody">
	<div class="modal-header" ng-controller= "SellersController">
		<h2 ng-show = "edit == false" translate="sellerdlg.Adding"></h2>
		<h2 ng-show = "edit == true" translate="sellerdlg.Editing"></h2>
	</div>
<!--Need to fix modal window and put input boxes more from border-->
	<div class="Seller-Dlg">
	<form>
		<div class="EditModal">
			<form role="form">			
				<div class="form-group">
					<h4 translate="sellerdlg.Name"></h4>
					<input type="text" class="form-control" ng-model="seller.name" maxlength="30" autofocus= />
				</div>

				<div class="form-group">
					<h4 translate="sellerdlg.Category"></h4>
					<input type="text" class="form-control" ng-model= "seller.category" maxlength="20" />
				</div>
				<div class="form-group">
					<h4 translate="sellerdlg.Photo"></h4>
					<input type="url" class="form-control" ng-model="seller.imagePath"/>
				</div>
			</form>
		</div>
		</form>
	</div>
	<div class="modal-footer">
	 	<button class="btn btn-success" type="button" ng-click="onOk()"><span translate="sellers.OK"></span></button>
      	<button class="btn btn-danger" type="button" ng-click="onCancel()"><span translate="sellers.Cancel"></span></button>
</div>
