
<div>
	<div class="modal-header">
		<h2 translate="sellerdlg.Adding"></h2>
	</div>
<!--Need to fix modal window and put input boxes more from border-->
	<div class="EditModal">
		<div>
			<h4 translate="sellerdlg.Name"></h4>
		</div>
		<div>
			<input type="text" ng-model= "seller.name" />
		</div>

		<div>
			<h4 translate="sellerdlg.Category"></h4>
		</div>
		<div>
			<input type="text" ng-model= "seller.category"/>
		</div>

		<div>
			<h4 translate="sellerdlg.Photo"></h4>
		</div>
		<div>
			<input type="url" ng-model="seller.imagePath"/>
		</div>
	</div>
	<div class="modal-footer">
	 	<button class="btn btn-primary" type="button" ng-click="onOk()"><span translate="sellers.OK"></span></button>
	      <button class="btn btn-warning" type="button" ng-click="onCancel()"><span translate="sellers.Cancel"></span></button>
	</div>
 </div>