<div>
	<!-- Need to get sellers info and put up tables-->
	<div class="headerBanner">
		<span ng-controller="ProductController" class="Sellers">

		</span>
		<div class="blur">
			<div class="userInfo" >
				<span class="userText">
					<h2 translate="sellerdetails.Name"></h2>
					<h4>{{sellerdetails.name}}</h4>
					<h2 translate="sellerdetails.Category"></h2>
					<h4>{{sellerdetails.category}}</h4>
				</span>
				<span class="userPhoto">
					<img class="userImage" src="{{sellerdetails.imagePath}}">
				</span>
			</div>
			<!-- TODO: Put name of seller here-->
		</div>
	</div>
	<div class="content">
		<div class="container" ng-controller="ProductController">
			<div class="tabButtonDiv">
				<a href="#/" class="goBack">
					<button class="fancyButton backButton glyphicon glyphicon-arrow-left"><span translate="language.Back"></span></button>
				</a>
				<span class="spanTab">
					<a class="noHighlight" ng-click="showTab = 'all'; sortBy='name'">
						<button class="tabButtons" translate="sellerdetails.AllProd"></button>
					</a>
					<a class="noHighlight" ng-click="showTab = 'top';sortBy='top10'">
						<button class="tabButtons" translate="sellerdetails.TopTen"></button>
					</a>
				</span>
				<button class="fancyButton productButton glyphicon glyphicon-plus-sign" ng-click="onAddProduct()">
					<span translate="sellerdetails.Add"/>
				</button>
			</div>
			<div class="productDiv">
			<a class="noHighlight noTextEffects" ng-click="sortBy = 'name'; ASCENDING = !ASCENDING">
				<span ng-show="sortBy == 'name' && !ASCENDING" class="glyphicon glyphicon-triangle-bottom"></span>
				<span ng-show="sortBy == 'name' && ASCENDING"  class="glyphicon glyphicon-triangle-top"></span>
				<h2 class="AllProductsHeader allTab" ng-show="showTab == 'all'" translate="sellerdetails.AllProd"></h2>
			</a>				
			<h2 class="AllProductsHeader" ng-show="showTab == 'top'"translate="sellerdetails.TopTen"></h2>


				<ul class="itemGrid">
					<li ng-show="showTab == 'all'" ng-repeat="s in sellerproducts | orderBy:sortBy:ASCENDING">
						<a ng-click="onChange(s.id)">
							<span>
								<img ng-src="{{s.imagePath}}" class="itemGridPhoto"/>
								<img src="http://findicons.com/files/icons/76/icandy_junior/128/pics_1.png" ng-if="s.imagePath == ''" class="itemGridPhoto"/>
							</span>
							<h3 class="itemGridTitle" >{{s.name}}</h3>
							<span class="itemGridPrice">{{s.price}}</span>
						</a>
					</li>
					<li ng-show="showTab == 'top'" ng-repeat="s in sellerproducts | orderBy: '-quantitySold' | limitTo: 10 ">
						<a ng-click="onChange(s.id)">
							<span >
								<img ng-src="{{s.imagePath}}" class="itemGridPhoto" />
								<img src="http://findicons.com/files/icons/76/icandy_junior/128/pics_1.png" ng-if="s.imagePath == ''" class="itemGridPhoto"/>
							</span>
							<h3 class="itemGridTitle">{{s.name}}</h3>
							<span class="itemGridPrice">{{s.price}}</span>
						</a>
					</li>
				</ul>
				<uib-alert type="danger" ng-show='sellerproducts.length == 0'><p translate="sellerdetails.Alert">!</p></uib-alert>
			</div>
		</div>
	</div>
</div>

<!--quantitysold="{{s.quantitySold}}"  quantityinstock="{{s.quantityInStock}}"-->
<!--Hafa rautt sem stendur uppselt ef quantitySTock er 0-->
