.outlined div {
  display: grid;
  display: inline-block;
  width: 200px;
  height: 150px;
}

.outlined .highlight {
  outline: 1px solid black;
  background: transparent;
}
.header{
	display:inline-block;
}